absl-py==2.1.0
aiobotocore==2.16.1
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aioitertools==0.12.0
aiosignal==1.3.2
aiosqlite==0.20.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.3.0
appdirs==1.4.4
argcomplete==3.5.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
audioread==3.0.1
Babel==2.14.0
backoff==2.2.1
bcrypt==4.2.1
beautifulsoup4==4.12.3
black==24.10.0
bleach==6.1.0
blinker==1.7.0
boto3==1.35.90
botocore==1.35.88
calibrate==0.10.0
capstone==6.0.0a2
catkin-pkg==1.0.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
colcon-argcomplete==0.3.3
colcon-bash==0.5.0
colcon-cd==0.1.1
colcon-cmake==0.2.29
colcon-common-extensions==0.3.0
colcon-core==0.18.4
colcon-defaults==0.2.8
colcon-devtools==0.3.0
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-notification==0.3.0
colcon-output==0.2.13
colcon-package-information==0.4.0
colcon-package-selection==0.2.10
colcon-parallel-executor==0.3.0
colcon-pkg-config==0.1.0
colcon-powershell==0.4.0
colcon-python-setup-py==0.2.9
colcon-recursive-crawl==0.2.3
colcon-ros==0.5.0
colcon-test-result==0.3.8
colcon-zsh==0.5.0
colorama==0.4.6
colored-traceback==0.4.2
comm==0.2.2
contourpy==1.2.0
coverage==7.6.9
crypto==1.4.1
cryptography==44.0.0
cycler==0.12.1
dacite==1.6.0
dagshub==0.4.2
dagshub-annotation-converter==0.1.2
dataclasses-json==0.6.7
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.9
distro==1.9.0
Django==5.1.3
dm-tree==0.1.8
docker-pycreds==0.4.0
docutils==0.21.2
empy==4.2
executing==2.0.1
Farama-Notifications==0.0.4
fastjsonschema==2.19.1
filelock==3.16.1
Flask==3.0.3
Flask-Cors==5.0.0
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.7
fonttools==4.50.0
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.12.0
gast==0.5.4
gitdb==4.0.12
GitPython==3.1.44
gmpy2==2.2.1
google-pasta==0.2.0
gql==3.5.0
graphql-core==3.2.5
greenlet==3.1.1
grpcio==1.62.1
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
h11==0.14.0
h5py==3.10.0
httpcore==1.0.5
httpx==0.27.0
hydra-core==1.3.2
idna==3.6
imageio==2.34.1
imbalanced-learn==0.13.0
imblearn==0.0
iniconfig==2.0.0
intervaltree==3.1.0
ipykernel==6.29.4
ipython==8.22.2
ipywidgets==8.1.2
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
json5==0.9.24
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.4
jupyter-ydoc==2.0.1
jupyter_client==8.6.1
jupyter_collaboration==2.0.5
jupyter_core==5.7.2
jupyter_server==2.13.0
jupyter_server_fileid==0.9.1
jupyter_server_terminals==0.5.3
jupyterlab==4.1.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.4
jupyterlab_widgets==3.0.10
keras==3.3.3
keras-core==0.1.7
kiwisolver==1.4.5
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.1
lightning-utilities==0.11.9
llvmlite==0.42.0
lxml==5.3.0
Mako==1.3.7
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.23.3
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.3.2
mnist==0.2.2
mpmath==1.3.0
msgpack==1.0.8
multidict==6.1.0
mypy-extensions==1.0.0
Naked==0.1.32
namex==0.0.7
nautilus-terminal==4.1.0
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.3
nest-asyncio==1.6.0
networkx==3.3
notebook==7.1.2
notebook_shim==0.2.4
notify2==0.3.1
numba==0.59.1
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
omegaconf==2.3.0
opencv-python==4.9.0.80
opt-einsum==3.3.0
optree==0.11.0
overrides==7.7.0
packaging==24.0
pandas==2.2.1
pandocfilters==1.5.1
paramiko==3.5.0
parso==0.8.3
pathspec==0.12.1
pathvalidate==3.2.3
pexpect==4.9.0
pillow==10.2.0
pkcs1==0.9.7
platformdirs==4.2.0
pluggy==1.5.0
plumbum==1.9.0
pooch==1.8.1
prometheus_client==0.20.0
prompt-toolkit==3.0.43
propcache==0.2.1
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pwn==1.0
pwntools==4.13.1
py-cpuinfo==9.0.0
pycparser==2.22
pycrdt==0.8.16
pycrdt-websocket==0.12.7
pycryptodome==3.21.0
pydantic==2.10.4
pydantic_core==2.27.2
pyelftools==0.31
Pygments==2.17.2
PyNaCl==1.5.0
pyparsing==3.1.2
pyproj==3.6.1
pyserial==3.5
PySocks==1.7.1
pytdm==0.1.2
pytest==8.3.4
pytest-cov==6.0.0
pytest-repeat==0.9.3
pytest-rerunfailures==15.0
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytorch-lightning==2.5.0.post0
pyttsx3==2.90
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole==5.5.1
QtPy==2.4.1
redis==5.2.1
referencing==0.34.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
ROPGadget==7.5
rosdep==0.25.1
rosdistro==1.0.1
rospkg==1.5.1
rpds-py==0.18.0
rpyc==6.0.1
s3fs==2024.12.0
s3transfer==0.10.4
scikit-image==0.23.2
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
Send2Trash==1.8.2
sentry-sdk==2.19.2
sequential==1.0.0
setproctitle==1.3.4
setuptools==69.2.0
shellescape==3.8.1
six==1.16.0
sklearn-compat==0.1.3
smmap==5.0.2
sniffio==1.3.1
sonar-space==0.2.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
SQLAlchemy==2.0.36
sqlparse==0.5.2
stack-data==0.6.3
sympy==1.13.1
tenacity==9.0.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
termcolor==2.4.0
terminado==0.18.1
threadpoolctl==3.4.0
tifffile==2024.5.22
tinycss2==1.2.1
torch==2.5.1
torchaudio==2.5.1
torchmetrics==1.6.1
torchvision==0.20.1
tornado==6.4
tqdm==4.66.4
traitlets==5.14.2
treelib==1.7.0
triton==3.1.0
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
ucimlrepo==0.0.7
ultralytics==8.3.48
ultralytics-thop==2.0.13
unicorn==2.1.1
unix-ar==0.2.1
uri-template==1.3.0
urllib3==2.2.1
wandb==0.19.1
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
Werkzeug==3.0.1
wheel==0.43.0
widgetsnbextension==4.0.10
wrapt==1.16.0
yarl==1.18.3
zstandard==0.23.0
